* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u0_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u0_original.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u0_original.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u8_original.png");
}

* html .u10c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u10c0.png");
}

* html .u10c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u10c1.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u18c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u18c0.png");
}

* html .u20c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u20c0.png");
}

* html .u22c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u22c0.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u26_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u28_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u30_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u34c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u34c0.png");
}

* html .u36c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u36c0.png");
}

* html .u38c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u38c0.png");
}

* html .u40c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u40c0.png");
}

* html .u42c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u42c0.png");
}

* html .u44_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u50c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u50c0.png");
}

* html .u52c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u52c0.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u56_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u58c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u58c0.png");
}

* html .u60c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u60c0.png");
}

* html .u62_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u64c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u64c0.png");
}

* html .u66c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u66c0.png");
}

* html .u66c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u66c1.png");
}

* html .u66c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u66c2.png");
}

* html .u68c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u68c0.png");
}

* html .u68c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u68c1.png");
}

* html .u70c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u70c0.png");
}

* html .u70c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u70c1.png");
}

* html .u72c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u72c0.png");
}

* html .u72c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u72c1.png");
}

* html .u74c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u74c0.png");
}

* html .u76c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u76c0.png");
}

* html .u78c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u78c0.png");
}

* html .u80c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u80c0.png");
}

* html .u82_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u84c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u84c0.png");
}

* html .u84c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u84c1.png");
}

* html .u84c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u84c2.png");
}

* html .u86c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u86c0.png");
}

* html .u88_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u12_original.png");
}

* html .u90c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Teacher_View_files/u90c0.png");
}

